/* You can add global styles to this file, and also import other style files */
@import "./app/stylesheets/general";

// Reset
body,
div,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-bg-color;
  font-family: $source-georgia;
}

// Global styles
.heading-1 {
  @extend %heading-1;

  color: $primary-color;
}

.heading-2 {
  @extend %heading-2;
}

.heading-3 {
  @extend %heading-3;
}

.btn {
  @include font-set(
    $primary-color,
    $source-georgia,
    2 * $primary-size-base,
    normal,
    5.6 * $primary-size-base
  );

  border-radius: 7px;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  cursor: pointer;
  display: inline-block;
  padding: 0 56px;

  &:hover {
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
    opacity: 0.8;
  }

  &.primary {
    background: $primary-color;
    color: $theme-white;
  }
}

.center {
  text-align: center;
}

.container-widget {
  @extend %widget;
}

.actions {
  @include display-flex(row, center, center, wrap);
  gap: 24px;
}

.description {
  color: $desc-color;
  font-size: 22px;
}

.details {
  &__section {
    border: 8px double #db9d32;
    padding: 18px;
  }
  &__row {
    @include display-flex(row, center, center, wrap);

    color: #df7401;
    font-size: 20px;
    margin: 3 * $primary-size-base 2 * $primary-size-base;

    div {
      color: $secondary-color;
      font-weight: 400;
    }

    span {
      text-transform: capitalize;
    }

    * {
      flex-basis: 0;
      flex-grow: 1;
    }

    &__title {
      @include font-set(
        $theme-black,
        $source-georgia,
        3 * $primary-size-base,
        normal,
        5 * $primary-size-base
      );

      text-align: center;
    }
  }
}
